<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/gmaps.js"></script>

</head>
<body>
    <div class="navbar mynavbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand mybrand" href="@Url.Action("Index", "Home")" style="font-size: 28px;"><span>{</span>هاکا گلوبال ایران<span>}</span></a>
                @*@Html.ActionLink(HttpUtility.HtmlEncode("<span>{</span>هاکا گلوبال ایران<span>}</span>"), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" onclick="">صفحه نخست</a></li>
                    <li><a href="#">رویدادهای قبل</a></li>
                    <li><a href="#" onclick="$('body').scrollTo('#contactDiv', 1200, { offset: -100 });">ثبت نام</a></li>
                    <li><a href="#">ورود کاربر</a></li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
